<div class="chat">
    <div class="chat-header" *ngIf="friendDetails">
        <div class="profile">
            <div class="left">
                <div class="d-inline friend-profile user-select-none" routerLink="/user/{{friendUsername}}">
                    <img src="{{friendDetails.photoUrl || './assets/user.png'}}" class="pp">
                    <h2>{{friendDetails.name}}</h2>
                    <span *ngIf="(presenceService.onlineUsers$ | async)?.includes(friendUsername)">
                        <ng-container *ngIf="!isRecipientTyping">online</ng-container>
                        <ng-container *ngIf="isRecipientTyping">typing...</ng-container>
                    </span>
                </div>
            </div>
            <div class="right">
                <div class="dropdown" dropdown>
                    <a class="cursor-pointer text-light text-decoration-none" dropdownToggle><i class="fa fa-ellipsis-h menu-dots" aria-hidden="true"></i></a>
                    <div class="dropdown-menu dropdown-menu-end shadow-sm" *dropdownMenu>
                      <a class="dropdown-item" [class.disabled]="(messageService.messageThread$ | async)?.length === 0" (click)="clearChat()">Clear chat</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>

    <div #chatContainer (scroll)="onScrollUp($event)" class="chat-box chat-container">
        <div *ngIf="(messageService.messageThread$ | async)?.length === 0">
            No messages yet... say hi by using the message box below
        </div>

        <div class="chat-messages-container" #chatList *ngIf="(messageService.messageThread$ | async)?.length != 0">
            <ng-container *ngFor="let message of (messageService.messageThread$ | async) as messages; let i = index; trackBy: trackByMessageId;">
                <div class="chat-group-by-date text-center" *ngIf="i == 0 || ((message.messageSent | date : 'MMM d, y') != (messages[i-1].messageSent | date : 'MMM d, y'))">
                    {{message.messageSent | chatDate : 'MMM d, y'}}
                </div>
                <div [ngClass]="message.senderUsername != friendUsername ? 'chat-r' : 'chat-l'">
                    <ng-container *ngIf="message.senderUsername == friendUsername">
                        <div class="mess">
                            <p class="chat-message">{{message.content}}</p>
                            <div class="check">
                                <span>{{message.messageSent | date : 'h:mm a'}}</span>
                            </div>
                        </div>
                        <div class="sp"></div>
                    </ng-container>
                    <ng-container *ngIf="message.senderUsername != friendUsername">
                        <div class="sp"></div>
                        <div class="mess mess-r">
                            <p class="chat-message">{{message.content}}</p>
                            <div class="check">
                                <span>{{message.messageSent | date : 'h:mm a'}}</span>
                                <i *ngIf="message.dateRead"
                                    class='fa fa-check fa-lg text-primary messages-read-check ms-1'></i>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="chat-footer">
        <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">

            <input #chatBox name="messageContent" required [(ngModel)]="messageContent"
                (keypress)="onKeyUpEvent($event)" type="text" placeholder="Send a private message">
            <!-- <button [disabled]="!messageForm.valid" class="btn btn-primary d-none d-sm-inline" type="submit">Send</button> -->
        </form>
    </div>

</div>