.card {
    border: none;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    padding: 3px 0px;
    border-bottom: 1px dotted #B3A9A9;
}

.rounded-circle {
    max-height: 35px;
} 
.chat-container{
    height: 500px; 
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid rgba(0,0,0,.125);
}
.online-icon{
    font-size: 12px;
}
.chat-time{
    font-size: 12px;
    font-weight: 600;
}