<div class="mb-1 btn btn-primary d-block" *ngIf="friendDetails">
    {{friendDetails.name}}
</div>

<div class="card mb-3">
    <div #chatContainer class="card-body chat-container">
        <div *ngIf="(messageService.messageThread$ | async)?.length === 0">
            No messages yet... say hi by using the message box below
        </div>

        <ul *ngIf="(messageService.messageThread$ | async)?.length != 0" class="chat">
            <li *ngFor="let message of (messageService.messageThread$ | async)">
                <div [class.text-end] = "message.senderUsername != friendUsername">
                    <div *ngIf="message.senderUsername == friendUsername">
                        <span class="chat-img float-right">
                            <img class="rounded-circle" src="{{message.senderPhotoUrl || './assets/user.png'}}" 
                                alt="{{message.senderUsername}}">
                        </span>
                        <p class="mb-0 ms-2 d-inline">{{message.content}}</p>
                    </div>
                    <div *ngIf="message.senderUsername != friendUsername">
                        <p class="mb-0 me-2 d-inline">{{message.content}}</p>
                        <span class="chat-img float-right">
                            <img class="rounded-circle" src="{{message.senderPhotoUrl || './assets/user.png'}}" 
                                alt="{{message.senderUsername}}">
                        </span>
                    </div>
                    
                    <div class="chat-body">
                        <div class="header">
                            <small class="text-muted">
                                <span class="fa fa-clock-o">{{message.messageSent | timeAgo}}</span>
                                <span class="text-danger" *ngIf="!message.dateRead 
                                    && message.senderUsername !== friendUsername">
                                    <!-- (unread) -->
                                </span>
                                <span class="text-success" *ngIf="message.dateRead 
                                    && message.senderUsername !== friendUsername">
                                    ({{message.dateRead }})
                                </span>
                            </small>
                        </div>
                    </div>
                </div>
            </li>
            <li *ngIf="isRecipientTyping">Typing...</li>
        </ul>
    </div>

    <div class="card-footer">
        <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
            <div class="input-group">
                <input 
                    #chatBox 
                    name="messageContent"
                    required
                    [(ngModel)]="messageContent"
                    (keypress)="onKeyUpEvent($event)"
                    type="text" 
                    class="form-control input-sm" 
                    placeholder="Send a private message">
                <div class="input-group-append">
                    <button [disabled]="!messageForm.valid" class="btn btn-primary" type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>