<div class="mb-1 btn btn-primary d-block" *ngIf="friendDetails">
    {{friendDetails.name}}
    <div class="mb-2" *ngIf = "(presenceService.onlineUsers$ | async)?.includes(friendUsername)">
        <i class="fa fa-user-circle text-success"></i> Online now
    </div>
</div>

<div class="card mb-3">
    <div #chatContainer (scroll)="onScrollUp($event)" class="card-body chat-container">
        <div *ngIf="(messageService.messageThread$ | async)?.length === 0">
            No messages yet... say hi by using the message box below
        </div>

        <ul #chatList *ngIf="(messageService.messageThread$ | async)?.length != 0" class="chat">
            <li *ngFor="let message of (messageService.messageThread$ | async) as messages; let i = index">
                <div [class.text-end] = "messages[messages.length-1-i].senderUsername != friendUsername">
                    <div *ngIf="messages[messages.length-1-i].senderUsername == friendUsername">
                        <span class="chat-img float-right">
                            <img class="rounded-circle" src="{{messages[messages.length-1-i].senderPhotoUrl || './assets/user.png'}}" 
                                alt="{{messages[messages.length-1-i].senderUsername}}">
                        </span>
                        <p class="mb-0 ms-2 d-inline">{{messages[messages.length-1-i].content}}</p>
                    </div>
                    <div *ngIf="messages[messages.length-1-i].senderUsername != friendUsername">
                        <p class="mb-0 me-2 d-inline">{{messages[messages.length-1-i].content}}</p>
                        <span class="chat-img float-right">
                            <img class="rounded-circle" src="{{messages[messages.length-1-i].senderPhotoUrl || './assets/user.png'}}" 
                                alt="{{messages[messages.length-1-i].senderUsername}}">
                        </span>
                    </div>
                    
                    <div class="chat-body">
                        <div class="header">
                            <small class="text-muted">
                                <span class="fa fa-clock-o">{{messages[messages.length-1-i].messageSent | timeAgo}}</span>
                                <span class="text-danger" *ngIf="!messages[messages.length-1-i].dateRead 
                                    && messages[messages.length-1-i].senderUsername !== friendUsername">
                                    <!-- (unread) -->
                                </span>
                                <span class="text-success" *ngIf="messages[messages.length-1-i].dateRead 
                                    && messages[messages.length-1-i].senderUsername !== friendUsername">
                                    ({{messages[messages.length-1-i].dateRead }})
                                </span>
                            </small>
                        </div>
                    </div>
                </div>
            </li>
            <li *ngIf="isRecipientTyping">Typing...</li>
        </ul>
    </div>

    <div class="card-footer">
        <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
            <div class="input-group">
                <input 
                    #chatBox 
                    name="messageContent"
                    required
                    [(ngModel)]="messageContent"
                    (keypress)="onKeyUpEvent($event)"
                    type="text" 
                    class="form-control input-sm" 
                    placeholder="Send a private message">
                <div class="input-group-append">
                    <button [disabled]="!messageForm.valid" class="btn btn-primary" type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>