# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/DotNetCoreAngular/ClientApp/dist
/DotNetCoreAngular/ClientApp/tmp
/DotNetCoreAngular/ClientApp/out-tsc
# Only exists if Bazel was run
/DotNetCoreAngular/ClientApp/bazel-out

# dependencies
/DotNetCoreAngular/ClientApp/node_modules

# profiling files
DotNetCoreAngular/ClientApp/chrome-profiler-events*.json

# IDEs and editors
/DotNetCoreAngular/ClientApp/.idea
DotNetCoreAngular/ClientApp/.project
DotNetCoreAngular/ClientApp/.classpath
DotNetCoreAngular/ClientApp/.c9/
DotNetCoreAngular/ClientApp/*.launch
DotNetCoreAngular/ClientApp/.settings/
DotNetCoreAngular/ClientApp/*.sublime-workspace

# IDE - VSCode
DotNetCoreAngular/ClientApp/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/DotNetCoreAngular/ClientApp/.angular/cache
/DotNetCoreAngular/ClientApp/.sass-cache
/DotNetCoreAngular/ClientApp/connect.lock
/DotNetCoreAngular/ClientApp/coverage
/DotNetCoreAngular/ClientApp/libpeerconnection.log
DotNetCoreAngular/ClientApp/npm-debug.log
DotNetCoreAngular/ClientApp/yarn-error.log
DotNetCoreAngular/ClientApp/testem.log
/DotNetCoreAngular/ClientApp/typings

# System Files
DotNetCoreAngular/ClientApp/.DS_Store
DotNetCoreAngular/ClientApp/Thumbs.db


.vs/*
/DotNetCoreAngular/obj/Debug/net6.0
/DotNetCoreAngular/obj
/DotNetCoreAngular/bin/Debug/net6.0
