<div class="container mt-3">
    <div class="row">
        <div class="d-grid gap-2 d-md-block">
            <button type="button" class="btn btn-primary me-2" (click)="getUserWhoLikeMe()">User Who Like Me</button>
            <button type="button" class="btn btn-secondary" (click)="getUserWhoLikedByMe()">User Liked By Me</button>
        </div>
    </div>

    <div class="row">
        <div *ngIf="users && users.length == 0">   
                <span class="text-danger mt-4"> No Likes found.</span>
        </div>
        <div *ngIf="users && users.length != 0">   
            <span class="text-success mt-4">{{headingText}}</span>
    </div>
        <div class="row row-cols-2 row-cols-md-4 row-cols-lg-5 row-cols-xl-5 row-cols-sm-3 g-4 mb-5">
            
            <ng-container *ngFor="let user of users" class="col-6 col-sm-4 col-xl-2 col-lg-3 col-md-4">
                <app-user-card [showLikeButton]="false" [user]="user"></app-user-card>
            </ng-container>
        </div>
        
    </div>
</div>