<div class="row justify-content-center"  *ngIf="userDetail">
    <div class="col-xxl-4 col-lg-6 col-md-8">
        <h4 class="row justify-content-center">Edit Profile</h4>
        <form #editForm = "ngForm" (ngSubmit)="update(editForm)">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="text" class="form-control" name="email" [(ngModel)]="userDetail.email">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="text" #username="ngModel" class="form-control" name="username" (blur)="checkUsername(username.value)" [(ngModel)]="userDetail.username">
                <small class="text-danger" *ngIf="!isUsernameAvailable">Username is not available.</small>
                <small class="text-success" *ngIf="isUsernameAvailable && username.touched && username.dirty">Username is available.</small>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Introduction</label>
                <input type="textarea" class="form-control" name="introduction" [(ngModel)]="userDetail.introduction">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Looking For</label>
                <input type="textarea" class="form-control" name="lookingFor" [(ngModel)]="userDetail.lookingFor">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Interests</label>
                <input type="textarea" class="form-control" name="interests" [(ngModel)]="userDetail.interests">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Country</label>
                <input type="text" class="form-control" name="country" [(ngModel)]="userDetail.country">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">City</label>
                <input type="text" class="form-control" name="city" [(ngModel)]="userDetail.city">
            </div>
            <div class="mb-3">
                <select class="form-select" name="gender" [(ngModel)]="userDetail.gender">
                    <option selected>Select Gender</option>
                    <option *ngFor="let g of genderDropdown " [ngValue]="g.id">{{g.value}}</option>
                  </select>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </form>
        
    </div>
</div>