<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Dating App</a>
    <button class="navbar-toggler" type="button" (click)="isShown=!isShown" data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': isShown }" id="navbarCollapse">
      <ul class="navbar-nav me-auto" *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link" routerLink="/friends" routerLinkActive="active">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user-likes" routerLinkActive="active">Likes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
        </li>
      </ul>

      <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
        <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>{{user.name | titlecase}}</a>
        <div class="dropdown-menu" *dropdownMenu>
          <a class="dropdown-item" routerLink="/user/edit">Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>

      <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="d-flex"
        (ngSubmit)="login()" autocomplete="off">
        <input name="username" [(ngModel)]="loginModel.email" class="form-control me-2" type="text"
          placeholder="UserName">
        <input name="password" [(ngModel)]="loginModel.password" class="form-control me-2" type="password"
          placeholder="Password">
        <button class="btn btn-outline-success" type="submit">Login</button>
      </form>
    </div>
  </div>
</nav>