<div *ngIf="friendDetails" class="user-select-none calling-container d-flex align-items-center justify-content-center">
    <!-- <div class="video-chat-container" style="background-color: red;width:95%;height:95%">
        <div>
            <video #localVideo [autoplay]="true" [muted]="true" class="videoInsert"></video>
        </div>
        <video #remoteVideo [autoplay]="true" [muted]="true"></video>
    </div> -->
    
    <div class="friend-profile-call-end-button text-center">
        <div class="calling-friend mb-4">
            <small id="calling_text" class="d-block">Calling...</small>
            <span class="friend-name">{{friendDetails.name}}</span>
        </div>
        <img src="{{friendDetails.photoUrl || './assets/user.png'}}" class="friend-profile-img">
        <span class="call-end-btn" (click)="cancelCall()"  title="Cancel the call">
            <i class="fa fa-phone" aria-hidden="true"></i>
        </span>
        <!-- <div *ngIf="!callingOrGettingCallToggle">
            <span class="call-accept-btn me-3" (click)="callAcceptedOrRejected(true)" title="Accept the call">
                <i class="fa fa-phone" aria-hidden="true"></i>
            </span>
            <span class="call-end-btn" (click)="callAcceptedOrRejected(false)" title="Reject the call">
                <i class="fa fa-phone" aria-hidden="true"></i>
            </span>
        </div> -->
    </div>
</div>